@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
}

@font-face {
  font-family: "OriginTech";
  src: url("/fonts/OriginTech.woff2") format("woff2"),
    url("/fonts/OriginTech.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
